# @react_spa {
#     file {
#         try_files {path} /index.html
#     }
# }
# reverse_proxy

matcha.localhost {
	reverse_proxy /* http://localhost:3000

	reverse_proxy /api/* http://localhost:8000

	handle_path /ws/* {
		reverse_proxy http://localhost:8000
	}
}
